@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MesloLGS NF';
    src: url('/MesloLGS-NF-Regular.woff2') format('woff2'),
        url('/MesloLGS-NF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins-Regular.woff2') format('woff2'),
        url('/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #d8e0e8;
}

@layer base {
    figcaption {
        @apply break-words
    }
    pre code {
        @apply font-mono text-sm !important
    }
}